.c-nav {
	background-color: $color-black;
	text-align: center;
}

.c-nav__item {
	display: inline-block;
	font-family: $font-asap;
	font-weight: 700;
	font-size: rem(16);
	text-transform: uppercase;

	a:link,
	a:visited {
		display: block;
		padding: 10px;
		color: $color-yellow;
	}

	a:hover,
	a:focus,
	a:active {
		background-color: $color-yellow;
		color: $color-text;
		text-decoration: none;
	}
}

.c-nav--active {
	a:link,
	a:hover {
		background-color: $color-salmon;
	}
}