h1 {
  font-family: $font-open-sans;
  text-transform: uppercase;
  font-size: 10vw;
  text-align: center;
  font-weight: 300;
  color: $color-yellow;

  @include breakpoint($bp-desktop) {
    font-size: rem(120);
  }
}

h2 {
	margin-bottom: rem(40);
  color: $color-salmon;
  font-family: $font-open-sans;
  font-weight: 300;
  font-size: 8vw;
  letter-spacing: -0.125rem;
  text-transform: uppercase;
  text-align: center;

  @include breakpoint($bp-desktop) {
    font-size: rem(86);
  }
}

h3 {}