.l-row {
  @include container;
  border-left: 1px solid red;
  border-right: 1px solid red;

  @include breakpoint($bp-desktop) {
    @include container(62.5em 12 split);
  }
}

[class^="l-column-"],
[class*=" l-column-"] {
  margin-left: gutter();
  margin-right: gutter();
}

@include breakpoint($bp-medium) {
  .l-column-3,
  .l-column-4 {
    @include span(2 of 4);
  }
}

@include breakpoint($bp-desktop) {

  [class^="l-column-"],
  [class*=" l-column-"] {
    margin-left: 0;
    margin-right: 0;
  }

  .l-column-3 {
    @include span(3 of 12);
  }

  .l-column-4 {
    @include span(4 of 12);
  }

  .l-column-6 {
    @include span(6 of 12);
  }

  .l-column-8 {
    @include span(8 of 12);
  }

  .l-column-12 {
    @include span(12 of 12);
  }
}

.u-align-center {
  text-align: center;
}