$susy: (
	container: 62.5em,
	columns: 12,
	gutters: 1/6
);

.l-container {
	@include container;
}

@media (min-width: 64em) {
	.contact__form {
		@include span(6);
	}
	.contact__social {
		@include span(4 last);
	}
}

.l-module {
	padding-top: rem(50);
	padding-bottom: rem(50);
}

.l-column-4 {
	@include span(3 of 12);
}

.l-column-4:last-child {
	@include span(3 of 12 last);
}

.l-column-3 {
	@include span(4 of 12);
}

.l-column-3:last-child {
	@include span(4 of 12 last);
}


.l-column-full {
	@include container;
}

.l-row {
	@include container;
}

.l-column-8 {
	@include span(8 of 12);
}

.l-column-4 {
	@include span(4 of 12 last);
}