.bg-dark {
	background-color: $color-black;
}

.bg-dark--textured {
	background-image: url('../images/bg/bg-texture-dark.png');
}

.bg-light {
	background-color: $color-yellow-secondary;
}

.bg-light--textured {
	background-image: url('../images/bg/bg-texture-light.png');
}