// $base-font-size:    16px;
// $base-line-height:  24px;

$base-radius:       3px;

// $base-spacing-unit: $base-line-height;

$bp-small-only: max-width 39.9375em; // 639 pixels
$bp-medium: 40em; // 640 to 1023 pixels
$bp-desktop: 64em;

// Layout
$susy: (
  gutter-position: split,
  global-box-sizing: border-box,
  debug: (image: show)
);
