// Libraries
@import 'susy/sass/susy';
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import 'bourbon';

// Settings
@import 'settings.global';
@import 'settings.colors';

// Tools
// @import 'tools.tools';

// Generic
@import 'generic.normalize';
@import 'generic.reset';
@import 'generic.box-sizing';
@import 'generic.fonts';

// Elements
@import 'elements.page';
@import 'elements.headings';
@import 'elements.paragraphs';
@import 'elements.images';
@import 'elements.links';
@import 'elements.lists';
@import 'elements.forms';

// Objects
@import 'objects.layout';
@import 'objects.wrappers';
@import 'objects.backgrounds';

// Components
@import 'components.header';
@import 'components.nav';
@import 'components.buttons';
@import 'components.icons';
@import 'components.contact';
@import 'components.tabs';
@import 'components.words';
@import 'components.enterprises';
@import 'components.av';
@import 'components.bio';
@import 'components.musica';
@import 'components.video';

// Trumps / Helpers
@import 'helpers.clearfix';
@import 'helpers.headings';

body {
  font-family: $font-fallback;
  font-weight: 400;
}

// sprites
// @import 'sprites';
// .github {
//   @include retina-sprite($github-group);
// }

// /* uncss:ignore */
// .ignored-selector {
//   display: none;
// }

// .removed {
//   display: block;
// }

// .has-border {
//   border-top: 1px solid $color-black;
// }

// .is-active {
//   background-color: $color-black;
//   color: $color-white;
// }

.c-rollover {
	position: relative;

	h4 {
		// position: absolute;
		// top: 50%;
		// transform: translateY(-50%);
		text-align: center;
		width: 100%;
		height: 100%;
		// background-color: $color-black;
	}

	img {
		width: 100%;
		height: auto;
	}
}